@{
    ViewBag.Title = "Index";
}

@using Posts.API;
@model Demo_7_20.Models.HomeViewModel

<link href="~/Content/Index.css" rel="stylesheet" />
<div class="container" style="width: 920px; margin: 40px auto;">
    <table class="table table-striped table-bordered" style="border: 5px solid #3333ff;">
        <tr>
            <th></th>
            <th>Date Created</th>
            <th>Author</th>
        </tr>

        @for (int i = 0; i < Model.Posts.Count(); i++)
        {
            <tr>
                @if (Model.Posts[i].Id == 2241)
                {
                    <td><a href="/home/details">@Model.Posts[i].Title</a></td>
                }
                else
                {
                    <td>@Model.Posts[i].Title</td>
                }
                <td>@Model.Posts[i].Date.ToShortDateString()</td>
                <td>@Model.Posts[i].Author.Username</td>
            </tr>
        }
    </table>
</div>


